.home-page {
  .text-zone {
    width: 100%;
    height: 100%;
    top: 0;
    left: 10%;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    overflow: hidden;
  }

  h1 {
    color: #fff;
    font-size: 100px;
    line-height: 80px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #00ffc8;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid #00ffc8;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #00ffc8;
      color: #333;
      animation: wiggle 2s linear infinite;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

@keyframes wiggle {
  from,
  to {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40% {
    transform: rotateZ(0);
  }
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}
